/*--------------- basic styling --------------- */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono" !important;
  background: #0f0f0f !important;
  color: #fff !important;
}

.whitespace {
  width: 100%;
  height: 100px;
}

@media (max-width: 768px) {
  .whitespace {
    display: none;
  }
}

/*--------------- typewriter effect --------------- */
.line {
  width: 24em;
  top: 50%;
  margin: auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter {
  animation: typewriter 1s steps(40) 1s 1 normal both,
    blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 4em;
  }
}

@media (max-width: 768px) {
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 3.5em;
    }
  }
}

@keyframes blinkTextCussor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/*--------------- navigation --------------- */
nav {
  width: 100%;
  background: #0f0f0f;
  height: 80px;
  position: fixed;
  z-index: 1;
}

nav #brand {
  float: left;
  display: block;
  margin-left: 82px;
  line-height: 80px;
  font-weight: bold;
}

nav #brand a {
  color: #fff;
  transition: all 0.3s ease-out;
}

nav #brand a:hover {
  text-decoration: none;
}

nav #menu {
  float: left;
  right: 80px;
  position: fixed;
}

nav #menu li {
  padding-left: 40px;
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
  line-height: 80px;
  position: relative;
  transition: all 0.3s ease-out;
}

nav #menu li span {
  font-weight: 700;
}

nav #menu li a {
  color: #fff;
}

nav #menu li a:hover {
  text-decoration: none;
}

#toggle {
  position: absolute;
  right: 30px;
  top: 20px;
  font-weight: 300;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.close-btn {
  position: absolute;
  right: 16px;
  font-weight: 300;
  z-index: 2;
  cursor: pointer;
  top: -2px;
  line-height: 80px;
}

#resize {
  z-index: 1;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
}

#resize #menu {
  height: 90px;
  position: absolute;
  left: 45%;
  transform: translateX(-40%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 50px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a {
  color: #fff;
}

#resize #menu li a:hover {
  text-decoration: none;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }

  nav #brand {
    margin-left: 24px;
  }

  #menu a {
    font-size: 20px;
    font-weight: 300;
  }

  #resize li span {
    font-weight: bolder;
  }

  nav #menu {
    display: none;
  }
}

@media (min-width: 768px) {
  #resize {
    visibility: hidden !important;
  }
}

/*--------------- hero section --------------- */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-weight: lighter;
  text-align: center;
  letter-spacing: -2px;
  line-height: 58px;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 26px;
  }
}

/*--------------- scroll down icon animation --------------- */
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
  animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}

/*--------------- projects section --------------- */
h6 {
  text-align: center;
}

.vertical {
  margin-top: 40px;
  border-left: 1px solid #fff;
  height: 80px;
  position: absolute;
  left: 50%;
}

.project1 {
  background: url(https://lh3.googleusercontent.com/J5heLTjzQ0bh-YvkGUvq2wLiXW_9ar4De6bOzuiWai1l99OLtS5dC8GdKEj2BN_wyMO_bI8wC4V_Ddux5ti6vfupg-N4kFXunzGLiEgp8tM7c9FgI26hftuITCKte87Y1a9n9A6q9pr1Lxw42BISHNeafFGxpoB6xmPvR52arhb3B0v_kIMKnxtoJPjnw_cNFKVdcdxbBX9_LSbWDt9HshgR2-uCCLXuknpTG4ZAyNHyU_Ak3ooQZDS6On2we6DN9l9p1uPTxiOzg6jPifl3ZnFUsC4aQDvLYjYN9bNH4v4CcD7nhAqTbKDhLDT2myUqtHb71Sd27y-4t05O4LIBuIb38Jny9TICQKz_8eXKkIeuRkNZpyrk5DtBdBdEI58gZsz_V6GHT85-pNmvZBhEvNucXFB2XXvtI4xEUQhtQPW5x51cdKbvktTx6Fk-mRoZZWuZODrqF3QC8aM-n69L1U-RRRWYLLIH3T4wE_NIhsposId7N3nm0Td14SIZ3o6yqnAPvNjCeGKWECvFoHLMqCvdzyjmVcAoucGp7jEXGc6xhzLwhDr1k1WejM0cwjsyHBhFDOv29CoGxxyNn41ZDi2YpSNCUnoK5qgA6JB700luZb1iDXyU0VeUVa7TjvTGGe6CpmOCW2RWMjwOkcjMlnrLuz28W-7JT8L5wuGNTo1m2HZU3CGLjNystiyV=s1000-no?authuser=0)
    no-repeat 50% 50%;
  background-size: cover;
}

.project1::after {
  content: "Readnumber";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 8%;
  left: -60%;
  right: 0;
  bottom: 0;
  padding-bottom: 30px;
}

.project2 {
  background: url(https://lh3.googleusercontent.com/y8Vb-XBfDIAwPRFg38im49_nijU-wSxJfvxXPt96moZmB5Tj97AKBNAsrY_9tfSIScEph2-g0dibKUsKs_4n6eFcdMS5RUPpiTuAbUyqd7CAcQHaqQLjPD3CwZ2rpmyz024WcTUkUBa78WAxA-D2NsABFwBwfnacQLKCzGxKOdiLrbHM2UkxYGx-XUeNgDaDkpSMU7ttBhuV_UtIyewH341-bXsZq8ujYVuKnn9hmMwDG1JSPL3-xQF2nB_3E9vhJdhbea0zLqz3C_L09rGgHJAaHoZ1hB3sxXgZtdYHSk15AXJ1hbPZDgcAV68xgx1oS8R4MWPzZCEy9t6rxQ9QDKilpibOLtPwxdxXdkGUV0lBngNzVV1WpQuvCprchwEKQGV4-lANj7us4CmS-Vf0VBZ0cTtkjnVV0wNgFDcWDiSC-w_aoRIWPa6OB3obNMAesW91QkYvWTqfs_MDVR_hrjC9XkCdwGM8yCL85egmvFUfwM45NCLHwMaGjFId2f43Osi6UoXgjIEaA2sxNErww54w_SVwwBHEhoiksWxDDRAAlzZS5E_Xr9CMgq6ILQmy82GHHCDVBEkIG52YtvmK3JzJFKXQJo5FWTo2SFrkDH0bk1q35dqQYFh-YyDvjGfDT58bxxNqOWPCKBoqCr3BfOiI0u0WqUvaLcJg8tTA81AaVVbWLAILjy7Vph8f=s1000-no?authuser=0)
    no-repeat 50% 50%;
  background-size: cover;
}

.project2::after {
  content: "GENESIS Navigation.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 80%;
  left: 90%;
  right: 0;
  bottom: 0;
}

.project3 {
  background: url(https://lh3.googleusercontent.com/ZZMCIM2MNlANUVmxJKnMroOrk7F64cBaU0IaoYagChr8L13YrrWEJ2qiisBMKgKyl-kacZzOqIS1nuGaM-COvWDImW8MkvLQfvk1sqX4DhBhhgLHCp4Hj5trPHZsW2HhzStk0p-O6PWbj_7c5FdS67vp6OF4_vdaHHRnM5AkjXL8mFP8NyubXuqpD5b0fhYYQ1FfoQ5-IsAYGzOVa3elm3H65mz7YL8pUEAT-qf4kIWsSmHmWWHQDfualL3E-rPuMo29jpIaUIuDQvMpNjEAdWaqKnty7QMtxvEkz3CN0478U1a7OYZBjd751z2vAgCqsUF0FDI9tECillm0HWlGgO7NjjEWshgl9ambJTSGS0IH8wktFIghM9_03FcChuacWmfsXnIBvt2MgrBjl6CoXXtt0Fk5VC7rg6nwfcX7tnUpjQw_DOoXbNEj_wXpIOdytvEeJqIh9m9jT3eddBLGp5W6F1KfgkQR4R7GhzWuPkqpo_g6aeO6vkvjxpS-T-YiOtbEUi2yRVgcgtn4pPwc0G2lMJc_DNA04Sn3Q5BGcJ5CZ-N7KXHNDL5QOyLF2ePgQwDxAM79JEXjG8CWrgEdgrKgPZ2Z1jblvs8PPGkHGCrW8z2AzsYbXIpauLBlbvAHeiM1ArsL9QECGiVYPBU3vvQuU_FohVOpvQpTYo8p6Mqb6DCbSEUaPm_Cdj9Y=w601-h416-no?authuser=0)
    no-repeat 50% 50%;
  background-size: cover;
}

.project3::after {
  content: "Nike Web redesign.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 80%;
  left: -50%;
  right: 0;
  bottom: 0;
}

.project4 {
  background: url(https://lh3.googleusercontent.com/kERmzX6irZBaU1S0RoiJFSNyEDbYOmKD8mxs6JvsjPtl-Xz40wysQgj-UQBVm1RTAydt1sKBVcI0rPhEmSAaFtMOH5JqMzv3lagVTx4CVxbFAHnY6VAhFAgWPQmWH6fjnZQY8UzSHB2EdmJo_MyuyleYxhkN3Ew_1HKcf2KhuvSRESdEnYnX1ZkknxpfL8JKMtEHbhK1w8BhmjlweEea7WlTUCqgdIUm1FejNBbX2mTbWozZJCrU_sQ9ft1E1d_PIOtvtzgC-QJFUSWg56PA8WBunH06wGsieEE8T4xtcp0VibfPwkmNdfUWD7jn6uIgPWeo7pCIsj7Wy8AMjdrCkB7lBtHE6Be3IbNvnzZolWQ7c80JyOMJ4y2obiHR-Io_0QuZb9vEQeqTq14oHLLmyv-Jvj7IpKy_OSF34RNMmkBJ23VdY-fFYD3aT9v2655mj7yZBj7C0jKQNKgJfGhk6Y_cvsm-EKB_OivWHxgB0byx9RHlraEEHW15s8XY29_ttZXMl4SrQCgt6Pb09ZXvNs8i_RQ0DSeCliriy5zDXiNFVqqh92lkGqG6wQpkDMY14Bgd20czg7_ueWKYilID7iijwdqDug4_IwopFbsr49QkJiSc85P0MPrOT0is11o-FeFe-kMsQjf46ElyqFwkpGUIX4D5Z7YkNDjE3DOr3yBj1C58d4azl62XYxW3=s1000-no?authuser=0)
    no-repeat 50% 50%;
  background-size: cover;
}

.project4::after {
  content: "Smart Home";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 10%;
  left: 90%;
  right: 0;
  bottom: 0;
}

.project5 {
  background: url(https://firebasestorage.googleapis.com/v0/b/portfolio-b7dd8.appspot.com/o/D1_0.png?alt=media&token=5885d98f-c558-4915-a817-fb8ca20ee4c1)
    no-repeat 50% 50%;
  background-size: cover;
}

.project5::after {
  content: "D Museum.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 8%;
  left: -60%;
  right: 0;
  bottom: 0;
}

.project6 {
  background: url(https://firebasestorage.googleapis.com/v0/b/portfolio-b7dd8.appspot.com/o/B0.png?alt=media&token=b30602c5-0c42-405e-9705-2722a081b71d)
    no-repeat 50% 50%;
  background-size: cover;
}

.project6::after {
  content: "Battlegrounds.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 80%;
  left: 90%;
  right: 0;
  bottom: 0;
}

.project7 {
  background: url(https://lh3.googleusercontent.com/IteiQS1B4sZgVOKoPNE3-2wLZBytikWv9mHja-E6QbBpIsl9bUAqzfsWbBcGxr0Qfk0qxV7a0QLpOTDouJ46wP8PQM9XxUgJ_wM8qEzwUcPqTQHyDJzEi3eiOiGBRZoY2u0x2YsJw3KIKlo-OZQlugcF9gGfjMtH-nlHCavaiiaUajZe_mZ-wBD8RISykgfv6sS53AYEh1fgtNPmEJn_ACKSiX5R27bZKn_yps4zs00lF-BlnFgZbASHZ31dK-1qcpQCDLNjB-mwt9h83C0b_ggcvz3WpJVCzlQXlRdJuIuh3K0E59rIaobSdSkqwBUeoVbQynFyBH3fCMFGq9BsukTNAw6NlT-frCyaUrvbL7rEm84jOqydowSu0UyG1CT970rimKQS6A3EnupoJHm6Uy0wLyPvWjUf1WZJn-JJ94eEsHnfug8nfSLpvdApzLzEk_bv1kjLFXGa5ucyWcQ1c-SafrVZJ1KW9pjiHYQDvOA1_OxkanAAXOaSVU14jz1F7x_X6bOm3aQF2-Abp1gC58Pe2plS7UGZeJLaLAF50CqlgFeZWiQvfrD97YDVVFpcWs-60VtLLT2i57nZWkmlJHlnf3ALQjC3SYKVTfWgeucjGdyr1fjz95Zod5vAPE1qa_rMOLoVYllaSswhNKNCoRq8ICDPT_UnETROIHhAq2f_l-u2_7Rmt15pmpSP=s1000-no?authuser=0)
    no-repeat 50% 50%;
  background-size: cover;
}

.project7::after {
  content: "RTGG.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 80%;
  left: -50%;
  right: 0;
  bottom: 0;
}

.project8 {
  background: url(https://lh3.googleusercontent.com/_xG2GxiAmaXnzlPibc8xenEimd_7sGMHL2Mc4MVinbAXqe8NRJqulWl_PIuO9NViNDob0LG3nhizOIc-j9CIUVSn3wI43_9iY_kSrIMlU2ReMxhWTbSuZZhsgNrKpJ_qW4svDOFDRHco8DPJaz5WPzMgCehrul_dcyRR_nEIvBZeUPZ8-CDUO9KXpseqdA6idgQPbj8l6y0p3BPah9VEOXZReDnZAo4jgscnBeKg_jsdC9V3YjcVkqvJ-dIz4UABiYUyxiWQ-UpievR46YeHGt0Y7XNSPMXWSO73kdrcSy2-tBoCkyjmRIcfdb8U-N4Iv6UDQgKCwRy8r6rA7W85286LkJFW6EQWgZmmv4jqwq3oanrbW2k9bO50RPKwMVZhUHifVaKZc786ib1lCfwheJ6CzNrbKQINsxsYiJDQsy2a80RW08OU2wWK4njlwAsqDoAn06nLbRUXc5bLWnacipEIS-8R_PS87MkBjn4TWcNQZ62MXZuhWQZLeCnJZKRHW2GmLemfILoxaXSpuOND1rbXFeC354gqyDeCdR37zkEUAOOx-3zCXvJgWGH_4pZobgw6C_4zgGnqAVakwgSEyjUVEJFxvrTHuf_x4V89rwFQ-u2esl92zvN5Y4cXLlFPzqQAt7DVKLbYWiOSA8t3DaUYKAwvWYNwM3r-uoqmy2Z2s-VYZCIvmgGVyHiE=s309-no?authuser=0)
    no-repeat 50% 50%;
  background-size: cover;
}

.project8::after {
  content: "Suunto & Wilson.";
  font-family: "Roboto Mono";
  font-size: 36px;
  position: relative;
  color: #fff;
  display: block;
  top: 10%;
  left: 90%;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .project {
    width: 90% !important;
    margin: 14px auto;
  }

  .vertical {
    display: none;
  }

  .project1::after,
  .project2::after,
  .project3::after,
  .project4::after,
  .project5::after,
  .project6::after,
  .project7::after,
  .project8::after {
    display: none;
  }
}

/*--------------- footer section --------------- */
.collab {
  text-align: right;
}

.collab p {
  font-weight: lighter !important;
  margin-bottom: 20px;
}

.hr {
  background: rgba(255, 255, 255, 0.2);
  height: 1px;
}

.info h4 {
  font-size: 18px;
  font-weight: lighter;
}

.info p {
  color: grey;
  font-weight: lighter;
}

.info li {
  font-weight: lighter;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
}

#fb::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #3b5998;
}

#ig::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #fcaf45;
}

#tw::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #55acee;
}

#yt::before {
  display: inline-block;
  content: "";
  border-radius: 100%;
  height: 4px;
  width: 4px;
  margin-right: 6px;
  background: #c4302b;
}

#media,
#address {
  text-align: right;
}

#media ul {
  list-style: none;
}

#media ul li {
  display: inline-block;
}

@media (max-width: 768px) {
  .collab,
  #personal,
  #media,
  #address {
    text-align: center;
  }

  .info ul {
    margin: 0 0 0 -22px;
    padding: 0;
  }
}

/*--------------- work page --------------- */

.hero-content {
  margin-left: 0%;
}

.hero-content p {
  font-weight: 300;
  line-height: 36px;
  color: grey;
}

.hero-content h6 {
  text-align: left;
}

@media (max-width: 768px) {
  .hero-content {
    padding-top: 50px;
    width: 96%;
    margin: 0 auto;
  }
}

/*---------------about page --------------- */

.about {
  height: 500px;
  margin-top: 120px;
}

.image {
  background: url(https://images.unsplash.com/photo-1540885762261-a2ca01f290f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80)
    no-repeat 50% 70%;
  margin: 10px;
}

/*--------------- contact form --------------- */

#contact-form {
  margin: 5% 1.4%;
}

#contact-form ul {
  list-style: none;
  border-radius: 5px;
  margin-bottom: 40px;
}

#contact-form li {
  padding: 10px;
}

#contact-form li:last-of-type {
  border-bottom: none;
}

#contact-form label {
  display: block;
  font-size: 0.8em;
  color: #999;
  padding-left: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 5px;
  border: none;
  resize: vertical;
  background: transparent;
  color: #fff;
  font-weight: bolder;
}

input:focus {
  outline: none;
  border: none;
}

textarea:focus {
  outline: none;
  border: none;
}

.textarea {
  border-bottom: 1px solid #dfdfdf;
}

.send {
  margin-left: 50px;
  text-transform: uppercase;
  padding: 20px 30px;
  background: transparent;
  color: #dfdfdf;
  font-size: 14px;
  letter-spacing: 2px;
}

.send:hover {
  background: #dfdfdf;
  color: #101010;
}

@media (max-width: 768px) {
  #contact-form {
    margin: 5% -8%;
    width: 98%;
  }
}

/*--------------- project page --------------- */

.prev,
.next p {
  color: grey;
}

.prev p {
  text-align: left;
}

.next p {
  text-align: right;
}
